<section class="login-inner">
        <div class="login-middle">
          <div class="login-details">
            <form [formGroup]="loginForm" novalidate>
              <h2>Log In</h2>
              <label>
                <input formControlName="emailId" [pattern]="validations.emailPattern" type="text" placeholder="Email address"/>
                <span class="row error-message" *ngIf="(loginForm['controls'].emailId.errors?.required && loginForm['controls'].emailId.touched) || (loginForm['controls'].emailId.errors?.required && submitted) || (loginForm['controls'].emailId.hasError('pattern') && loginForm['controls'].emailId.touched)">
									*Please enter valid Email Address
								  </span>
              </label>
              <!-- <label>
                <input type="text" placeholder="Phone Number"/>
              </label> -->
              <label>
                <input formControlName="password" type="password" placeholder="Password"/>
                <span class="row  error-message"*ngIf="(loginForm['controls'].password.errors?.required && loginForm['controls'].password.touched) || (loginForm['controls'].password.errors?.required && submitted) || (loginForm['controls'].password.hasError('pattern') && loginForm['controls'].emailId.touched)">
									*Please enter valid Password
								  </span>
              </label>
              <label>
                <input type="checkbox"/><span>Remember me</span>
              </label>
              <div class="btn-sub">
                <button (click)="signin()" class="pink-btn">Log In</button>
                <span>
                  <a routerLink="/forgetpassword">Forget your password?</a>
                </span>
              </div>
    
            </form>
          </div>
        </div>
      </section>