<!--The content below is only a placeholder and can be replaced.-->

 <div class="wrapper dark-header">
    <header class="main-header">
      <div class="logo"><a href="index.html" >Welcome to {{ title }}!</a></div>
      <div class="navbar navbar-static-top">
        <div class="btn-grps pull-right" style="margin-left: 592px;">
          <a class="pink-btn dark-btn" (click)="redirect('login')">User Login</a>
          <a (click)="redirect('signup')" class="pink-btn">Sign Up</a>
        </div>
      </div>
  
    </header>
    <router-outlet></router-outlet>
  
  </div>

