<section class="login-inner">
        <div class="login-middle">
          <div class="login-details">
            <form [formGroup]="signupForm" novalidate >
              <h2>Sign Up</h2>
              <label>
                    <input formControlName="name" type="text" placeholder="Full Name"/>
                    <span class="row error-message" *ngIf="(signupForm['controls'].name.errors?.required && signupForm['controls'].name.touched) || (signupForm['controls'].name.errors?.required && submitted)">
                      *Please enter valid Name
                      </span>
                  </label>
              <label>
                <input formControlName="emailId" type="text" placeholder="Email address"/>
                <span class="row error-message" *ngIf="(signupForm['controls'].emailId.errors?.required && signupForm['controls'].emailId.touched) || (signupForm['controls'].emailId.errors?.required && submitted) || (signupForm['controls'].emailId.hasError('pattern') && signupForm['controls'].emailId.touched)">
                  *Please enter valid Email Address
                  </span>
              </label>
              <label>
                  <show-hide-password size="sm" btnStyle="primary" [btnOutline]="false">
                <input formControlName="password" type="password" placeholder="Password"/>
              </show-hide-password>
                <span class="row error-message" *ngIf="(signupForm['controls'].password.errors?.required && signupForm['controls'].password.touched) || (signupForm['controls'].password.errors?.required && submitted)">
                  *Please enter valid Password
                  </span>
              </label>
              <div class="btn-sub">
                <button class="pink-btn" (click)="signup()">Sign Up</button>
              </div>
    
            </form>
          </div>
        </div>
      </section>