<section class="login-inner">
	<div class="login-middle">
	  <div class="login-details">
		<form [formGroup]="form" novalidate>
		  <h2>Forget Password</h2>
		  <div class="row">
			<div class="col-sm-3">&nbsp;</div>
			<div class="col-sm-6 ">
				<div class="form-or">
					<div>We'll send password reset instructions to the</div>
					<div>email address associated with your account.</div>
				</div>
			</div>
			<div class="col-sm-3">&nbsp;</div>
		</div>
		  <label>
			<input formControlName="emailId" [pattern]="validations.emailPattern" type="text" placeholder="Email address"/>
			<span class="row error-message" *ngIf="(form['controls'].emailId.errors?.required && form['controls'].emailId.touched) || (form['controls'].emailId.errors?.required && submitted) || (form['controls'].emailId.hasError('pattern') && form['controls'].emailId.touched)">
								*Please enter valid Email Address
							  </span>
		  </label>
		 
		  <div class="btn-sub">
			<button (click)="forgotPassword()" class="pink-btn">Send</button>
		  </div>

		</form>
	  </div>
	</div>
  </section>